
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Data cleared!</h1>
<a asp-action="Index" asp-controller="Cart">To the main page</a>
